In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport

In [25]:
df = pd.read_csv('train_clean.csv')
testdf = pd.read_csv('test_clean.csv')
df

,customer_id,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,46,1,0.0,1,0.0,11.589276,612.0,17,1.0,1.0,33070.28,9.835794,73,544.0,2,1,1
1,CST_121920,29,0,0.0,1,0.0,11.606986,2771.0,8,2.0,0.0,15329.53,10.538613,52,857.0,0,0,0
2,CST_109330,37,0,0.0,1,0.0,12.346500,204.0,8,2.0,0.0,48416.60,10.635816,43,650.0,0,0,0
3,CST_128288,39,1,0.0,1,0.0,11.714443,11941.0,3,2.0,0.0,22574.36,10.392919,20,754.0,0,0,0
4,CST_151355,46,0,1.0,1,0.0,12.866919,1459.0,3,1.0,0.0,38282.95,10.877115,75,927.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,CST_130421,55,1,0.0,0,2.0,11.474263,117.0,17,4.0,0.0,11229.54,10.297684,82,907.0,0,0,0
45524,CST_136670,31,1,0.0,1,0.0,12.857034,966.0,0,2.0,1.0,43369.91,11.849020,32,679.0,0,0,0
45525,CST_145435,27,1,0.0,1,0.0,12.468638,1420.0,3,2.0,0.0,22707.51,11.338118,46,727.0,0,0,0
45526,CST_130913,32,0,1.0,0,0.0,11.966311,2457.0,8,2.0,0.0,20150.10,10.147951,92,805.0,0,0,0
45527,CST_160078,38,0,0.0,1,1.0,12.666330,1210.0,17,3.0,0.0,34603.78,10.508644,26,682.0,0,0,0

In [8]:
df['credit_card_default'].value_counts()

0    41831
1     3697
Name: credit_card_default, dtype: int64

In [15]:
from imblearn.over_sampling import RandomOverSampler

In [40]:
oversample = RandomOverSampler(sampling_strategy=0.5)

In [79]:
train = df.drop('customer_id', axis=1) # train
test = testdf.drop('customer_id', axis=1) # test
X = train.drop('credit_card_default', 1)
y = train.credit_card_default
X.shape

(45528, 16)

In [42]:
X_over, y_over = oversample.fit_resample(X, y)

In [43]:
from collections import Counter
print(Counter(y_over))

Counter({0: 41831, 1: 20915})

In [44]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.linear_model import LogisticRegression
import lightgbm as lgb

X_train, X_test, y_train, y_test = train_test_split(X_over, y_over,test_size=0.2, random_state=42, stratify=y_over)

model = lgb.LGBMClassifier(learning_rate=0.09,max_depth=-5,random_state=42)
model.fit(X_train,y_train,eval_set=[(X_test,y_test),(X_train,y_train)],verbose=20,eval_metric='logloss')

[20]	training's binary_logloss: 0.122639	valid_0's binary_logloss: 0.123369
[40]	training's binary_logloss: 0.0603839	valid_0's binary_logloss: 0.0643921
[60]	training's binary_logloss: 0.0462528	valid_0's binary_logloss: 0.0528598
[80]	training's binary_logloss: 0.039742	valid_0's binary_logloss: 0.0483882
[100]	training's binary_logloss: 0.0351228	valid_0's binary_logloss: 0.0451188

LGBMClassifier(learning_rate=0.09, max_depth=-5, random_state=42)

In [45]:
print(metrics.classification_report(y_test,model.predict(X_test)))

              precision    recall  f1-score   support

           0       1.00      0.97      0.99      8367
           1       0.95      1.00      0.97      4183

    accuracy                           0.98     12550
   macro avg       0.97      0.98      0.98     12550
weighted avg       0.98      0.98      0.98     12550

In [46]:
default =model.predict(test)

In [50]:
defa =model.predict(X_test)

In [47]:
final2 = pd.DataFrame({'customer_id':testdf['customer_id'],
                     'credit_card_default':default})

final2.to_csv('submission3.csv',index=False)

In [48]:
final2.shape

(11383, 2)

In [51]:
print('F1 Score - :', metrics.f1_score(y_test, defa, average="macro" ) )

F1 Score - : 0.9782382803486365

In [1]:
# example of evaluating a model with random oversampling and undersampling
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
import lightgbm as lgb
# define dataset
X = train.drop('credit_card_default', 1)
y = train.credit_card_default

# define pipeline

over = RandomOverSampler(sampling_strategy=0.5)
under = RandomUnderSampler(sampling_strategy=0.1)
steps = [('o', over), ('u', under), ('m', lgb.LGBMClassifier(learning_rate=0.1,max_depth=-5,random_state=42))]
pipeline = Pipeline(steps=steps)
# evaluate pipeline
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
scores = cross_val_score(pipeline, X, y, scoring='f1_micro', cv=cv, n_jobs=-1)
score = mean(scores)
print('F1 Score: %.3f' % score)
pipeline.fit(X,y)
sub = pipeline.predict(test)

NameError: name 'train' is not defined

In [94]:
final2 = pd.DataFrame({'customer_id':testdf['customer_id'],
                     'credit_card_default':sub})

final2.to_csv('submission5.csv',index=False)